@use '../../../styles/foundation/components/branch-selector' as tokens;
@use '../../../styles/foundation/queries' as query;

:host {
  @include tokens.base;
  display: block;
  inline-size: min(100%, var(--honesty-branch-selector-inline-size));
  min-inline-size: var(--honesty-branch-selector-min-inline-size);
}

erp-select {
  display: block;
}

@include query.viewport-down('xxs') {
  :host {
    min-inline-size: 0;
  }
}
