@use '../../../styles/foundation/components/check-box' as tokens;

:host([data-check-box-size='sm']) {
  @include tokens.size-sm;
}

:host([data-check-box-size='md']) {
  @include tokens.size-md;
}

:host([data-check-box-size='lg']) {
  @include tokens.size-lg;
}

:host([data-check-box-size='xl']),
:host([data-check-box-size='xxl']),
:host([data-check-box-size='xxxl']),
:host([data-check-box-size='xxxxl']) {
  @include tokens.size-xl;
}

:host([data-check-box-presentation='table-reference']) {
  --honesty-check-box-control-size: 1rem;
  --honesty-check-box-radius: 0.25rem;
  --honesty-check-box-border-width: 0.09375rem;
}
