@mixin styles(
  $color,
  $opacity,
  $duration,
  $easing
) {
  .erp-pressable__ripple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background: #{$color};
    opacity: #{$opacity};
    transform:
      translate(-50%, -50%)
      scale(0);
    transform-origin: center;
    animation:
      erp-press-ripple
      #{$duration}
      #{$easing}
      forwards;
    z-index: 1;
  }

  @keyframes erp-press-ripple {
    to {
      transform:
        translate(-50%, -50%)
        scale(1);
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .erp-pressable__ripple {
      animation-duration: 1ms;
    }
  }
}
