@use '../../../styles/foundation/components/text' as tokens;

:host {
  @include tokens.base;

  margin: 0;
  font-family: var(--honesty-text-font-family);
  font-size: var(--honesty-text-font-size);
  font-weight: var(--honesty-text-font-weight);
  line-height: var(--honesty-text-line-height);
  color: var(--honesty-text-color);
  font-style: var(--honesty-text-font-style);
  text-decoration-line: var(--honesty-text-decoration-line);
  min-width: 0;
}

:host([data-text-size='inherit']) {
  @include tokens.size-inherit;
}

:host([data-text-size='2xs']) {
  @include tokens.size-2xs;
}

:host([data-text-size='xs']) {
  @include tokens.size-xs;
}

:host([data-text-size='sm']) {
  @include tokens.size-sm;
}

:host([data-text-size='md']) {
  @include tokens.size-md;
}

:host([data-text-size='lg']) {
  @include tokens.size-lg;
}

:host([data-text-size='xl']) {
  @include tokens.size-xl;
}

:host([data-text-size='2xl']) {
  @include tokens.size-2xl;
}
