@use '../../../../styles/foundation/components/field-frame' as tokens;

:host([data-field-interaction='editor']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']))
  .field-frame__control {
  cursor: text;
}

:host([data-field-interaction='trigger']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']))
  .field-frame__control {
  cursor: pointer;
}

:host([data-field-disabled='true']) .field-frame__control,
:host([data-field-configuration-state='invalid']) .field-frame__control {
  cursor: default;
}


:host([data-field-variant='solid']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']):not([data-field-focused='true']))
    .field-frame__control:hover,
:host([data-field-variant='ghost']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']):not([data-field-focused='true']))
    .field-frame__control:hover,
:host([data-field-variant='text']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']):not([data-field-focused='true']))
    .field-frame__control:hover,
:host([data-field-border-mode='underline']:not([data-field-disabled='true']):not([data-field-configuration-state='invalid']):not([data-field-focused='true']))
    .field-frame__control:hover {
  background: color-mix(
    in srgb,
    var(--honesty-field-frame-bg),
    var(--honesty-field-frame-hover-bg)
      var(--honesty-field-frame-hover-surface-mix)
  );
}
