@use '../../../styles/foundation/components/sidebar' as tokens;

:host {
  @include tokens.base;
  box-sizing: border-box;
  display: block;
  min-inline-size: 0;
  max-inline-size: 100%;
  block-size: 100%;
  inline-size: var(--honesty-sidebar-width-expanded);
  color: var(--honesty-sidebar-fg);
  background: var(--honesty-sidebar-bg);
  border-inline-end: var(--honesty-sidebar-border-width) solid
    var(--honesty-sidebar-border-color);
}

:host([data-sidebar-collapsed='true']) {
  inline-size: var(--honesty-sidebar-width-collapsed);
}

.sidebar__header {
  display: flex;
  align-items: center;
  min-inline-size: 0;
  min-block-size: var(--honesty-sidebar-header-height);
  gap: var(--honesty-sidebar-content-gap);
  padding-inline: var(--honesty-sidebar-header-padding-inline);
  border-block-end: var(--honesty-sidebar-border-width) solid
    var(--honesty-sidebar-border-color);
}

.sidebar__title {
  min-inline-size: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav {
  max-block-size: calc(100% - var(--honesty-sidebar-header-height));
  overflow: auto;
  padding: var(--honesty-sidebar-padding);
  scrollbar-gutter: stable;
}

ul {
  display: grid;
  gap: var(--honesty-sidebar-item-gap);
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  min-inline-size: 0;
  padding-inline-start: calc(
    var(--honesty-sidebar-indent) * var(--_honesty-sidebar-level)
  );
}

li[data-sidebar-active-ancestor='true'] {
  color: var(--honesty-sidebar-item-fg-active);
}

:host([data-sidebar-collapsed='true']) {
  .sidebar__header {
    justify-content: center;
    padding-inline: 0;
  }

  .sidebar__title {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  nav {
    padding-inline: var(--honesty-sidebar-compact-padding-inline);
  }

  ul {
    gap: var(--honesty-sidebar-compact-item-gap);
  }

  li {
    padding-inline-start: 0;
  }

  li[data-sidebar-level]:not([data-sidebar-level='0']) {
    display: none;
  }

}
