@use '../../../styles/foundation/components/global-search' as tokens;
@use '../../../styles/foundation/queries' as query;

:host {
  @include tokens.base;
  display: block;
  inline-size: min(100%, var(--honesty-global-search-inline-size));
  min-inline-size: var(--honesty-global-search-min-inline-size);
}

erp-search-box {
  display: block;
}

@include query.viewport-down('lg') {
  :host {
    min-inline-size: 0;
  }
}
