<div class="page-shell__layout">
  <div class="page-shell__header">
    <ng-content select="[erpPageShellHeader]" />
  </div>

  <div class="page-shell__body">
    <main class="page-shell__main">
      <ng-content />
    </main>
    @if (sideVisible()) {
      <aside class="page-shell__side">
        <ng-content select="[erpPageShellSide]" />
      </aside>
    }
  </div>

  @if (footerVisible()) {
    <footer class="page-shell__footer">
      <ng-content select="[erpPageShellFooter]" />
    </footer>
  }
</div>
