.tabs__list::-webkit-scrollbar {
  display: none;
}

.tabs__indicator {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  border-radius: var(--honesty-tabs-indicator-radius) var(--honesty-tabs-indicator-radius) 0 0;
  background: var(--honesty-tabs-indicator-color);
  transition-property: left, top, width, height;
  transition-duration: var(--honesty-tabs-transition-duration);
  transition-timing-function: var(--honesty-tabs-transition-easing);
}

:host([data-tabs-orientation='horizontal']) .tabs__indicator {
  inset-block-end: 0;
  block-size: var(--honesty-tabs-indicator-size);
}

.tabs__panels {
  position: relative;
  flex: 1 1 auto;
  min-inline-size: 0;
}

.tabs__panel {
  display: none;
  inline-size: 100%;
  min-inline-size: 0;
  padding: var(--honesty-tabs-panel-padding);
}

.tabs__panel--active {
  display: block;
}
